[Desktop Entry]
Name=SVG Cleaner
Version=0.3
GenericName=SVG Cleaning Program
Comment=Batch, tunable, crossplatform SVG cleaning program
Exec=svgcleaner-gui
Icon=svgcleaner
Type=Application
Categories=Qt;Graphics;
