[Desktop Entry]
Name=SVG Cleaner
Version=0.6
GenericName=SVG Cleaning Program
Comment=Batch, tunable, crossplatform SVG cleaning program
Exec=svgcleaner-gui
Icon=/usr/share/icons/hicolor/scalable/apps/svgcleaner.svg
Type=Application
Categories=Qt;Graphics;
