Source: svgcleaner
Section: graphics
Priority: extra
Maintainer: Evgeniy Raizner <razrfalcon@gmail.com>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 7), cdbs, qt4-qmake, build-essential, libqt4-dev
Homepage: https://launchpad.net/svg-cleaner

Package: svgcleaner
Depends: libqt4-core, libqt4-gui, libqt4-svg, libqt4-xml, p7zip-full, xdg-utils, ${shlibs:Depends}
Architecture: any
Description: Batch, tunable, crossplatform SVG cleaning program
 
